html, body {
  height: 100%
}

.task-list {
  cursor: pointer;
  transition: .5s;
}

.task-list:hover {
  background-color: #0dcaf018
}

.complete {
  background-color: rgb(71, 153, 93);
  color: black;
  font-weight: 700 !important;
}